*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    
    padding: 20px;
}

a{
    text-decoration: none;
}

nav{
    width: 30vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(94, 158, 158);
}

li:hover{
    cursor: pointer;
    background-color: orange;
}